body {
    color: white;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    background: url(IMG_Background.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 440px;
    height: 600px;
    background: linear-gradient(#ffffff34,#ffffff27);
    backdrop-filter: blur(7px);
    box-shadow: 0 8px 32px #0000008a;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FullName {
   width: 250px;
   height: 20px;
   outline: none;
   background-color: transparent;
   border: 1px solid #ffffffac;
   border-radius: 15px;
   margin-top: 10px;
   padding: 5px;
}

.Email {
   width: 250px;
   height: 20px;
   outline: none;
   background-color: transparent;
   border: 1px solid #ffffffac;
   border-radius: 15px;
   margin-top: none;
   padding: 5px;
}

.Phone {
   width: 250px;
   height: 20px;
   outline: none;
   background-color: transparent;
   border: 1px solid #ffffffac;
   border-radius: 15px;
   margin-top: none;
   padding: 5px;
}

.Gender {
   width: 250px;
   height: 20px;
   outline: none;
   background-color: transparent;
   border: 1px solid #ffffffac;
   border-radius: 15px;
   margin-top: none;
   padding: 5px;
}

.Hobbies {
   width: 400px;
   height: 20px;
   outline: none;
   background-color: transparent;
   border: 1px solid #ffffffac;
   border-radius: 15px;
   margin-top: none;
   padding: 5px;

}

.DOB {
   width: 250px;
   height: 20px;
   outline: none;
   background-color: transparent;
   border: 1px solid #ffffffac;
   border-radius: 15px;
   margin-top: none;
   padding: 5px;
}

.Program-study {
   width: 400px;
   height: 20px;
   outline: none;
   background-color: transparent;
   border: 1px solid #ffffffac;
   border-radius: 15px;
   margin-top: none;
   padding: 5px;
}

.adress {
   width: 250px;
   height: 100x;
   outline: none;
   background-color: transparent;
   border: 1px solid #ffffffac;
   border-radius: 15px;
   margin-top: none;
   padding: 5px;
   position: center;
}


.Title {
    color:aliceblue ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input::placeholder {
    font-size: 0.8rem;
    letter-spacing: 0.3px;
}



label {
    color:aliceblue;
    font-family:'Times New Roman', Times, serif
}




